/* Empty. Add your own CSS if you like */
.user-photo{
  width: 20px;
  height: 20px;
  border-radius: 45%;
}

.icon{
  font-size: 30px;
}

.header-badge{
  float: left;
  top: -4px !important;
  left: 38px !important;
}