<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>


  </head>
  <body ng-app="youper" ng-controller="YouperHome">
      <ion-pane>
          <ion-header-bar class="bar-positive" style="background-color: #ffab40">
            <button class="button button-icon icon-left" ng-click="photoOpen()">
                <ion-icon class="icon" ng-if="!photo" name="person"></ion-icon>
                <img ng-if="photo" class="user-photo" src="{{photo}}">
            </button>
            <a class="button button-icon icon-right" href="#/notif">
                <ion-icon class="icon" name="notifications"></ion-icon>
                <span ng-if="notifON" class="badge badge-assertive header-badge">{{badge}}</span>
            </a>
          </ion-header-bar>
          <ion-content>
          </ion-content>
      </ion-pane>

  </body>

  <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>

</html>
